/* tables */
.post table thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
.post table thead tr th div {
    margin-right: 1em;
}
.post table thead tr .headerSortUp {
	background-image: url(asc.gif);
}
.post table thead tr .headerSortDown {
	background-image: url(desc.gif);
}
.post table thead tr .headerSortDown, .post table thead tr .headerSortUp {
    background-color: #8dbdd8;
}

.pager {
	padding: 10px 0 10px 0;
	background-color: #D6D2C2;
	text-align: center;
}
.pager span {
	padding: 0 5px 0 5px;
}
.pager input.prev {
	width: auto;
	margin-right: 10px;
}
.pager input.next {
	width: auto;
	margin-left: 10px;
}

#content input.pagedisplay {
    width: 50px;
    text-align: center;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
}
