/* tables */
.post table thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
.post table thead tr th div {
    margin-right: 1em;
}
.post table thead tr .headerSortUp {
	background-image: url(asc.gif);
}
.post table thead tr .headerSortDown {
	background-image: url(desc.gif);
}
.post table thead tr .headerSortDown, .post table thead tr .headerSortUp {
    background-color: #8dbdd8;
}
